/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";

// Custom css
@import "./custom.scss";

.header {
  background: #f2f2f2;
  width: 100%;
  i#soundAccordion {
    color: #777;
    float: right;
    &:hover {
      cursor: pointer;
      color: #19caaf;
    }
  }
}

header {
  padding-top: 25px;
}

footer {
  background: #f2f2f2;
  width: 100%;
  padding: 20px 0 20px 0;
}
// Circle list icon
.circle {
  height: 38px;
  width: 38px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  margin-right: 6px;
  margin-top: 20px;
  font-size: 1.5em;
  &:hover {
    background: #777;
    color: #fff;
    cursor: pointer;
    i {
      color: #fff;
    }
  }
  i {
    color: #c2c2c2;
  }
}
.circle-active {
  height: 38px;
  width: 38px;
  background-color: #19caaf;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  margin-right: 6px;
  margin-top: 20px;
  font-size: 1.5em;
  &:hover {
    cursor: pointer;
  }
  i {
    color: #fff;
  }
}
.circle-disabled {
  height: 38px;
  width: 38px;
  background-color: #d2d2d2;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  margin-right: 6px;
  margin-top: 20px;
  font-size: 1.5em;
  &:hover {
    cursor: pointer;
  }
  i {
    color: #fff;
  }
}

/* search styles */
.search-result li {
  height: 30px;
  background-color: rgba($color: #fff, $alpha: 1);
  cursor: pointer;
  list-style-type: none;
  &:hover {
    background-color: #607d8b;
  }
  a {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 5px;
    &:hover {
      color: #f2f2f2;
    }
    &:active {
      color: white;
    }
  }
}

ul.search-result {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  width: 76%;
}

@media (max-width: 768px) {
  .box-heading {
    margin-top: 10px;
  }

  .box-heading h4 {
    text-transform: uppercase;
  }

  .main-product {
    padding-left: 100px;
  }

  footer .col-sm-6 {
    padding: 4px;
  }

  header {
    padding-top: 50px !important;
  }
}
